
ErrorLog "|cronolog -l {{ apache.logdir }}/base/error.log {{ apache.logdir }}/base/error.%Y-%m-%d.log"
LogFormat "%h %l %u %t \"%r\" %>s %b \"%{Referer}i\" \"%{User-Agent}i\"" combined
CustomLog "|cronolog -l {{ apache.logdir }}/base/access.log {{ apache.logdir }}/base/access.%Y-%m-%d.log" combined
